body{
color:cadetblue;
background-color: aliceblue;
}
header{ 
 border-bottom: solid 2px rgb(#4682B4);
 padding: 20px;
 font-size: 32px;
   color: navy;
   background: rgb(177, 141, 212);
}
    .chamada{
   background-color: bisque;
   padding-top: 100px;
   padding-bottom: 100px;
   display: flex;
   justify-content: center;
    }
   .chamada-texto {
    margin: right 5%;
}
h1{
    font-size: 40px;
}
p{
    font-size: 20px;
}
img{
    height: 100px;
}
.categorias_videos{
    display: flex;
    overflow-x: auto;
    gap: 15px;
}
.categoria {
    padding-left: 20px;
    padding-right: 20px;
}
